* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.banner{
width: 100%;
height: 100vh;
background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 90%,rgba(255, 255, 255, 1) 100%), url(https://cdn.glitch.global/ef4b1ae0-549c-4c65-a17b-00627de05476/banner.jpeg?v=1689031159671) ;
background-size: cover;

background-position: center;
}
.logo{
width: 100px;
height: 100px;
cursor: pointer;

}
.navbar{
width: 85%;
margin: auto;
padding: 35px 0;
display: flex;
align-items: center;
justify-content: space-between; 
}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
text-decoration: none;
color: #fff;
font-weight: 400;
text-transform: uppercase;
}
.navbar ul li::after{
content: "";
height: 3px;
width: 0%;
background: #009688;
position: absolute;
left: 0;
bottom: -10px;
transition: 0.5s;
}
.navbar ul li:hover::after{
width: 100%;
}
.content{
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
text-align: center;
color: #fff;
}
.content h1{
font-size: 80px;
margin-top: 80px;
font-weight: 450;
color: #fff;
margin-bottom: 2px;
}
.content h2{
font-size: 50px;
margin-top: 60px;
font-weight: 400;
color: #D5F5E3    ;
padding: 0px;
margin-top:2px;
}
button {
width: 220px;
  padding: 18px 0;
  text-align: center;
font-size: 22px;
margin: 20px 10px;
border-radius: 30px;
font-weight: medium;
border: 3px solid #009688;
background: transparent;
color: #fff;
cursor: pointer; 
position: relative;
overflow: hidden;
}
span{
background: #009688;
height: 100%;
width: 0%;
border-radius: 25px;
position: absolute;
left: 0;
bottom: 0;
z-index: -1;
transition: .5s;
}
button:hover span{
width: 100%;
}
button:hover{
border: none;
}

.path{
width: 100%;
position: absolute;
text-align: center;
color: #154360 ;
margin-bottom: 20px;
}
.path h3{
font-size: 50px;
margin-top: 60px;
font-weight: 400;
color: #154360  ;
padding: 0px;
margin-bottom:10px;
}
.path h4{
font-size: 20px;
margin-top: 70px;
font-weight: 400;
color: #154360  ;
padding: 0px;
margin-top:2px;
margin-bottom: 40px;
}
.mission{
width: 100%;
margin-top: 90px;
position: absolute;
text-align: center;
color: #154360 ;
}
.mission h5{
font-size: 40px;
margin-top: 90px;
font-weight: 400;
color: #154360  ;
padding: 0px;
margin-bottom: 5px;
}
.mission h6{
font-size: 20px;
margin-top: 10px;
font-weight: 350;
color: #154360  ;
padding-left: 60px;
padding-right: 60px;
text-align: center;
padding-bottom: 100px;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle{
  order: 1;
}
.item.button{
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active{
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999 ;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before, .bars::after{
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}
.bars::before{
  top: 5px;
}
.bars::after{
  top: -5px;
}

/* Tablet Menu */
@media all and (min-width: 300px){
  .menu{
      justify-content: center;
  }

  .item.button{
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary{
      border: 0;
  }
}


/* Desktop menu */
@media all and (min-width: 768px) {
  .item{
      display: block;
      width: auto;       
  }
  .toggle{
      display: none;
  }

  .item{
      order: 1;
  }

  .menu li{
      padding: 15px 10px;
  }
  .menu li.button{
      padding-right: 0;
  }
}




/* About Us Page */

#container-us {
  margin: 0 auto;
  width: 100%;
  height: 1200px;
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .5fr 2fr 1fr;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  gap: 8px;
}

.header-us {
  display: flex;
  grid-area: header;
  background-color: #ffffff;
  color: #004225;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main-us {
  grid-area: main;
  background: url('https://cdn.glitch.global/e5d46084-d8b1-4d2b-a8c7-b784045bbe96/Thomas_working_line.png?v=1689030358092');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  min-height: 500px;
  padding: 20px;
  color: #ffffff;
  font-family: helvetica;
  font-size: 24px;
  background-color: #ffffff;
  text-align: left;
}

.footer-us {
  grid-area: footer;
  color: rgb(255, 255, 255);
  background-color: #ffffff;
  outline:#fff 1rem;
}

#text-us {
  width: 80%;
  background-color: #4F7942 ;
  opacity: .8;
  padding: 20px;
  font-size: 20px
}

/* About Tom Page */

#container {
  margin: 0 auto;
  width: 100%;
  height: 1200px;
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .5fr 2fr 1fr;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  gap: 10px;
}

.header {
  display: flex;
  grid-area: header;
  background-color: #ffffff ;
  color: #004225;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.main {
  grid-area: main;
  padding: 20px;
  color: #004225;
  font-family: helvetica;
  font-size: 24px;
  background-color: #ffffff ;
  text-align: left;
}

.aside {
  grid-area: aside;
  width: 100%; 
  height: 100%; 
  background: url("https://cdn.glitch.global/e5d46084-d8b1-4d2b-a8c7-b784045bbe96/tom_daughter_cuddle.jpg?v=1689031424965") center/cover no-repeat;
  background-color: #F0EDE5 ;
}


.footer {
  grid-area: footer;
  color: black;
  background-color: #ffffff ;
}


/* Board of Directors */


.directors-container {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}

.board-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; 
  grid-gap: 20px;
  position: relative;
}

.mission-container {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 80px;
}

.board-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 200px;
}

.board-member {
    width: 70%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #4F7942 ;
    display: flex;
    align-items: center;
}
  
.board-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.member-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
  
.board-member h3 {
  font-size: 24px;
  color: #004225;
  margin-bottom: 10px;
  margin: auto;
  text-align: left;
}
  
.board-member p {
    color: #004225;
    font-size: 20px;
    margin-left: 20px;
}
  /* Registration Form Page */

.registration-banner {
  width: 100%;
  height: 10%;
  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5) 90%,rgba(255, 255, 255, 1) 100%), url(https://cdn.glitch.global/ef4b1ae0-549c-4c65-a17b-00627de05476/banner.jpeg?v=1689031159671) ;
  position: relative;
}
.form {
  max-width: 600px;
  margin: auto;
  padding: 20px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form label {
  font-weight: bold;
}

.form p {
  margin: 0;
}

.form input,
.form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form select {
  height: 40px;
}

.form .option {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
}

.form .option .input-container {
  display: flex;
  align-items: center;
}

.form input[type="radio"],
.form input[type="checkbox"] {
  margin: 0;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}

.form button:hover {
  background-color: #45a049;
}
.form-title {
  text-align: center;
}

.pages-banner {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(52, 52, 64, 1), rgba(52, 52, 64, 0));
  position: relative;
}
